
{% extends 'pages/admins/main.html' %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Who Are We</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
            <li class="breadcrumb-item active">Address</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-3">
          <!--messages-->
          {% include 'message.html' %}
          <!--messages-->
          <div class="card shadow">
            <div class="card-header">
              <h2>Address</h2>
            </div>
            <div class="card-body">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary mb-3" data-toggle="modal" data-target="#staticBackdrop">
                Add Address
               </button>
       
               <!-- Modal -->
               <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                 <div class="modal-dialog modal-lg modal-dialog-centered">
                   <div class="modal-content">
                     <div class="modal-header">
                       <h5 class="modal-title" id="staticBackdropLabel">Address form</h5>
                       <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">&times;</span>
                       </button>
                     </div>
                     <div class="modal-body d-flex justify-content-center align-items-center">
                       <form action="" method="post" enctype="multipart/form-data">
                         {% csrf_token %}
                          {{form.as_p}}
                         <div class="row">
                           <div class="col-md-6">
                             <button type="button" class="btn btn-secondary form-control" data-dismiss="modal">Close</button>
                           </div>
                           <div class="col-md-6">
                             <button type="submit" class="btn btn-info form-control">Save Details</button>
                           </div>
                         </div>
                       </form>
                     </div>
                   </div>
                 </div>
               </div>
              <!--table-->
              <div class="table-responsive animate__animated animate__fadeIn">
                <table id="mytable" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Address</th>
                      <th>Phone Number</th>
                      <th>Email</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in  address %}
                      <tr>
                          <td>{{ item.address|safe }}</td>
                          <td>{{ item.phone_number }}</td>
                          <td>{{ item.email }}</td>
                          <td style="display:flex;">
                              <a href="{% url 'edit_address_path' item.id %}" class="btn btn-success" style="margin-right: 10px;">Edit</a>
                              <a onclick="return confirm('Are you you want to delete?')" href="{% url 'delete_address_path' item.id %}" class="btn btn-danger">Delete</a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--table-->
            </div>
          </div>
        </div>
      </div>
  
    </div><!--/. container-fluid -->
  </section>
{% endblock %}