
{% extends 'pages/admins/main.html' %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Who Are We</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
            <li class="breadcrumb-item active">Contact</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12 col-md-6 col-sm-3">
          <!--messages-->
          {% include 'message.html' %}
          <!--messages-->
          <div class="card shadow">
            <div class="card-header">
              <h2>Contact</h2>
            </div>
            <div class="card-body">
              <!--table-->
              <div class="table-responsive animate__animated animate__fadeIn">
                <table id="mytable" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Email</th>
                      <th>Subject</th>
                      <th>Message</th>
                      <th>Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for item in  contact %}
                      <tr>
                          <td>{{ item.full_name }}</td>
                          <td>{{ item.email }}</td>
                          <td>{{ item.subject }}</td>
                          <td>{{ item.message }}</td>
                          <td style="display:flex;">
                            <a href="mailto:{{ item.email }}?subject=Re: {{ item.subject }}&body=Dear {{ item.full_name }},%0D%0A%0D%0A{{ item.message }}%0D%0A%0D%0ARegards," class="btn btn-success">
                              Reply
                          </a>                          
                          <a onclick="return confirm('Are you you want to delete?')" href="{% url 'delete_contact' item.id %}" class="btn btn-danger">Delete</a>
                          </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
              <!--table-->
            </div>
          </div>
        </div>
      </div>
  
    </div><!--/. container-fluid -->
  </section>
{% endblock %}