
{% extends 'pages/admins/main.html' %}
{% block content %}
<div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <!-- <h1 class="m-0">Who Are We</h1> -->
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="{% url 'admin_home' %}">Home</a></li>
            <li class="breadcrumb-item active">Change Password Done</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <!-- /.content-header -->

  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-6 col-sm-3">
          <div class="card shadow">
            <div class="card-header">
              <h2>Change Password Done</h2>
            </div>
            <div class="card-body">
                <p>Your password has been changed successfully!</p>
                <a href="{% url 'admin_home' %}">Go back to homepage</a>
            </div>
          </div>
        </div>
      </div>
  
    </div><!--/. container-fluid -->
  </section>
{% endblock %}